.posters {
	display: flex;
	flex-flow: row wrap;
}
.layoutMultilineTitles .posters .titles h3,
.layoutMultilineTitles .posters .titles h3 * {
	height: auto !important;
	white-space: normal !important;
}

.lineClamp {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* improve readability of years on fanarts */
.fanarts .fanart h3 span.year {
    color: #ffffff;
    opacity: 0.7;
}