.ttvstats {
	overflow: auto;
}
.ttvstats_row {
	overflow: auto;
	text-align: center;
}

/*
** Donuts
*/

.ttvstats_donut {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 25%;
	min-width: 10em;
	max-width: 25em;
}

.ttvstats_donut.is-null {
    opacity: .5;
    cursor: default;
}
.catinfos {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3em;
    text-align: center;
    pointer-events:none;
    color: #333;
}
.ttvstats_donut .ct-label {
    pointer-events:none;
    fill: #fff;
}
/* not-viewed slice */
.ttvstats_donut .ct-series:first-child .ct-slice-donut {
    stroke: #333;
}
/* viewed slices */
.ttvstats_donut .ct-series-a .ct-slice-donut {
    stroke: #999;
}
.ttvstats_donut.all .ct-series-a .ct-slice-donut {
    stroke: #8e44ad;
}
.ttvstats_donut.directing .ct-series-a .ct-slice-donut {
    stroke: #D17905;
}
.ttvstats_donut.writing .ct-series-a .ct-slice-donut {
    stroke: #16a085;
}
.ttvstats_donut.actor .ct-series-a .ct-slice-donut {
    stroke: #2b678f;
}
/* not-viewed slice */
.ttvstats_donut.is-null .ct-series .ct-slice-donut {
    stroke: #ccc;
}




.ttvstats_donut .ct-label {
    opacity: .5;
    font-size: .85em;
    transform: translate(0, .4em);
}
.ttvstats-filtered .ttvstats_donut {
    opacity: .5;
}
.ttvstats-filtered .ttvstats_donut.is-selected,
.ttvstats-filtered .ttvstats_donut.all.is-selected ~ *,
.ttvstats_donut .ct-series:hover .ct-label {
    opacity: 1;
}
.ttvstats_donut,
.ttvstats_donut .ct-label {
    transition: opacity .1s ease;
}

.ttvstats_donut .ct-slice-donut {
	transition: stroke-width .05s ease;
}
.ttvstats_donut .ct-slice-donut {
    stroke-width: 25px !important;
}
.ttvstats_donut:not(.is-null).slice-seen .ct-series-a .ct-slice-donut,
.ttvstats_donut:not(.is-null).slice-notseen .ct-series-b .ct-slice-donut,
.ttvstats_donut:not(.is-null) .ct-series:hover .ct-slice-donut {
    stroke-width: 27px !important;
}
.ttvstats_donut .catinfos {
    opacity: .8;
}
.ttvstats_donut:not(.is-null):hover .catinfos {
    opacity: 1;
}



/*
** Graphs
*/


.ttvstats_graph {
	display: inline-block;
	width: 50%;
}
@media (max-width: 1000px) {
	.ttvstats_graph {
		display: block;
		width: 100%;
	}
}

.ttvstats_graph_ratings .ct-series-b .ct-line {
    stroke: #d0131a;
}
.ttvstats_graph_ratings .ct-series-a .ct-line {
    stroke: #ccc;
    stroke-width: 1px;
}


.ttvstats_graph_years .ct-bar,
.ttvstats_graph_years .ct-labels {
    cursor: pointer;
}
.ttvstats_graph_years .ct-series-a .ct-bar {
    stroke: #8e44ad;
}
.ttvstats_graph_years .ct-series-b .ct-bar {
    stroke: #ccc;
}
.ttvstats_graph_years .ct-series-b .ct-bar.is-selected {
    stroke: #999;
}
.ttvstats_graph_years.is-filtered .ct-bar,
.ttvstats_graph_years.is-filtered .ct-labels {
	opacity: .5;
}
.ttvstats_graph_years.is-filtered .is-selected {
	opacity: 1;
}
.ttvstats_graph_years .is-selected .ct-label{
	color: black;
	font-size: 0.9em;
	font-weight: bold;
}

.ttvstats_graph_years .ct-bar { stroke-width: 50%; }
.ttvstats_graph_years.series-3 .ct-bar { stroke-width: 40%; }
.ttvstats_graph_years.series-4 .ct-bar { stroke-width: 30%; }
.ttvstats_graph_years.series-5 .ct-bar { stroke-width: 25%; }
.ttvstats_graph_years.series-6 .ct-bar { stroke-width: 20%; }
.ttvstats_graph_years.series-7 .ct-bar { stroke-width: 16%; }
.ttvstats_graph_years.series-8 .ct-bar { stroke-width: 14%; }
.ttvstats_graph_years.series-9 .ct-bar { stroke-width: 12%; }
.ttvstats_graph_years.series-10 .ct-bar{ stroke-width: 11%; }


/*
** Words
*/

.ttvstats_words:not(:empty) {
	margin: 3em 0;
	padding: 1em;
	color: #fff;
	background: #1D1D1D;
	text-align: center;
}


/*
** Posters
*/

.ttvposters-filtered {
    display: none;
}
.poster-hidden {
    display: none;
}
