.ttvstats {
	overflow: auto;
}
.ttvstats_row {
	overflow: auto;
	text-align: center;
}


/*
** Categories graphs
*/

.ttvstats_catsgraphs {
    display: table;
    width: 100%;
    margin: .5em 0;
}
.ttvstats_catsgraphs .graph {
    display: table-row;
}
.ttvstats_catsgraphs.filtered .graph:not(.selected) {
    opacity: .5;
}
.ttvstats_catsgraphs .graph > * {
    display: table-cell;
    height: 2.5em;
    vertical-align: middle;
    white-space: nowrap;
}
.ttvstats_catsgraphs .category {
    padding: 0 .5em;
    text-transform: capitalize;
}
.ttvstats_catsgraphs .databar {
    width: 100%;
    padding: 0 1em;
}
.ttvstats_catsgraphs .databar i {
    float: left;
}
.ttvstats_catsgraphs .databar i:before {
    vertical-align: middle;
}
.ttvstats_catsgraphs .bar {
    display: block;
    height: 1.5em;
    position: relative;
    background: #ccc;
    border-radius: 1em;
    margin-left: 1.5em;
}
.ttvstats_catsgraphs .percentage,
.ttvstats_catsgraphs .rest,
.ttvstats_catsgraphs .value {
    position: absolute;
    font-size: .75em;
    color: white;
    padding: .25em .5em;

    display: flex;
    align-items: center;
}
.ttvstats_catsgraphs .value {
    pointer-events: none;
}
.ttvstats_catsgraphs .percentage,
.ttvstats_catsgraphs .rest {
    left: 0; top: 0; bottom: 0;
    background: #999;
    border-radius: 1em 2px 2px 1em;
    justify-content: flex-end;
    cursor: pointer;
}
.ttvstats_catsgraphs .rest {
    left: auto; right: 0;
    background: #ccc;
    border-radius: 2px 1em 1em 2px;
}
.ttvstats_catsgraphs .percentage:hover,
.ttvstats_catsgraphs .rest:hover {
    height: 2.2em;
    margin-top: -.1em;
}
.ttvstats_catsgraphs .completed .percentage {
    border-radius: 1em;
    text-align: center;
}
.ttvstats_catsgraphs .graph.all .percentage { background: #8e44ad; }
.ttvstats_catsgraphs .graph.directing .percentage { background: #D17905; }
.ttvstats_catsgraphs .graph.writing .percentage { background: #16a085; }
.ttvstats_catsgraphs .graph.actor .percentage { background: #2b678f; }
.ttvstats_catsgraphs .bar[data-value="0"] .percentage {
    background: transparent;
}
.ttvstats_catsgraphs .databar[data-value="0"] .value {
    display: none;
}

.ttvstats_catsgraphs .info {
    padding: 0 .6em 0 .4em;
}
.ttvstats_catsgraphs i {
    display: inline-block;
    margin-right: .25em;
}
.ttvstats_catsgraphs .trakt-icon-check-thick { color: #8e44ad; }
.ttvstats_catsgraphs .fa-heart { color: #C91D24; }
.ttvstats_catsgraphs .trakt-icon-collection-thick { color: #16a085; }
.ttvstats_catsgraphs .trakt-icon-list-thick { color: #2b678f; }
.ttvstats_catsgraphs .info[data-value="0"],
.ttvstats_catsgraphs .info[data-value="0"] i {
    color: #ccc;
}


.ttvstats_catsgraphs .category,
.ttvstats_catsgraphs .info {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}
.ttvstats_catsgraphs .category:hover,
.ttvstats_catsgraphs .info:hover .text {
    text-decoration: underline;
}
.ttvstats_catsgraphs .graph .info.selected {
    border-color: #ccc white white #ccc;
    box-shadow: inset 0 0 .5em 0 rgba(0,0,0,.1);
}


/*
** Graphs
*/


.ttvstats_graph {
	display: inline-block;
    width: 50%;
    padding: 1em;
}
@media (max-width: 1000px) {
	.ttvstats_graph {
		display: block;
		width: 100%;
	}
}

.ttvstats_graph_ratings svg {
    overflow: visible !important;
}
.ttvstats_graph_ratings .ct-series-b .ct-line, 
.ttvstats_graph_ratings .ct-series-b .ct-point {
    stroke: #d0131a;
    stroke-width: 3px;
}
.ttvstats_graph_ratings .ct-series-a .ct-line,
.ttvstats_graph_ratings .ct-series-a .ct-point {
    stroke: #ccc;
    stroke-width: 1px;
}
.ttvstats_graph_ratings .ct-point {
    cursor: pointer;
	transition: stroke-width .05s ease;
}
.ttvstats_graph_ratings .ct-label{
	font-size: 0.75em;
}
.ttvstats_graph_ratings:hover .ct-series-a .ct-point {
    stroke-width: 7px;
}
.ttvstats_graph_ratings:hover .ct-series-b .ct-point {
    stroke-width: 10px;
}
.ttvstats_graph_ratings .ct-series-a .ct-point:hover,
.ttvstats_graph_ratings .ct-series-b .ct-point:hover {
    stroke-width: 15px;
}
.ttvstats_graph_ratings.selected-a-1 .ct-series-a .ct-point:nth-of-type(1),
.ttvstats_graph_ratings.selected-a-2 .ct-series-a .ct-point:nth-of-type(2),
.ttvstats_graph_ratings.selected-a-3 .ct-series-a .ct-point:nth-of-type(3),
.ttvstats_graph_ratings.selected-a-4 .ct-series-a .ct-point:nth-of-type(4),
.ttvstats_graph_ratings.selected-a-5 .ct-series-a .ct-point:nth-of-type(5),
.ttvstats_graph_ratings.selected-a-6 .ct-series-a .ct-point:nth-of-type(6),
.ttvstats_graph_ratings.selected-a-7 .ct-series-a .ct-point:nth-of-type(7),
.ttvstats_graph_ratings.selected-a-8 .ct-series-a .ct-point:nth-of-type(8),
.ttvstats_graph_ratings.selected-a-9 .ct-series-a .ct-point:nth-of-type(9),
.ttvstats_graph_ratings.selected-a-10 .ct-series-a .ct-point:nth-of-type(10),
.ttvstats_graph_ratings.selected-b-1 .ct-series-b .ct-point:nth-of-type(1),
.ttvstats_graph_ratings.selected-b-2 .ct-series-b .ct-point:nth-of-type(2),
.ttvstats_graph_ratings.selected-b-3 .ct-series-b .ct-point:nth-of-type(3),
.ttvstats_graph_ratings.selected-b-4 .ct-series-b .ct-point:nth-of-type(4),
.ttvstats_graph_ratings.selected-b-5 .ct-series-b .ct-point:nth-of-type(5),
.ttvstats_graph_ratings.selected-b-6 .ct-series-b .ct-point:nth-of-type(6),
.ttvstats_graph_ratings.selected-b-7 .ct-series-b .ct-point:nth-of-type(7),
.ttvstats_graph_ratings.selected-b-8 .ct-series-b .ct-point:nth-of-type(8),
.ttvstats_graph_ratings.selected-b-9 .ct-series-b .ct-point:nth-of-type(9),
.ttvstats_graph_ratings.selected-b-10 .ct-series-b .ct-point:nth-of-type(10) {
    stroke-width: 17px;
    stroke: #FF7413;
}


.ttvstats_graph_years .ct-bar,
.ttvstats_graph_years .ct-labels {
    cursor: pointer;
}
.ttvstats_graph_years .ct-series-a .ct-bar {
    stroke: #8e44ad;
}
.ttvstats_graph_years .ct-series-b .ct-bar {
    stroke: #ccc;
}
.ttvstats_graph_years .ct-series-b .ct-bar.is-selected {
    stroke: #999;
}
.ttvstats_graph_years.is-filtered .ct-bar,
.ttvstats_graph_years.is-filtered .ct-labels {
	opacity: .5;
}
.ttvstats_graph_years.is-filtered .is-selected {
	opacity: 1;
}
.ttvstats_graph_years .ct-label{
	font-size: 0.75em;
}
.ttvstats_graph_years .is-selected .ct-label{
	color: black;
	font-size: 0.9em;
	font-weight: bold;
}

.ttvstats_graph_years .ct-bar { stroke-width: 50%; }
.ttvstats_graph_years.series-3 .ct-bar { stroke-width: 40%; }
.ttvstats_graph_years.series-4 .ct-bar { stroke-width: 30%; }
.ttvstats_graph_years.series-5 .ct-bar { stroke-width: 25%; }
.ttvstats_graph_years.series-6 .ct-bar { stroke-width: 20%; }
.ttvstats_graph_years.series-7 .ct-bar { stroke-width: 16%; }
.ttvstats_graph_years.series-8 .ct-bar { stroke-width: 14%; }
.ttvstats_graph_years.series-9 .ct-bar { stroke-width: 12%; }
.ttvstats_graph_years.series-10 .ct-bar{ stroke-width: 11%; }


/*
** Words
*/

.ttvstats > h2:first-child {
	margin: 1em 0;
}
.ttvstats > h2 {
	margin: 2em 0;
	text-align: center;
}


/*
** Posters
*/

.ttvposters {
    display: none;
}
.ttvposters-sortable {
    display: flex;
    flex-flow: row wrap;
}
.ttvposters-sortable .titles h4 {
    height: auto;
    white-space: normal;
}

.ttvposters-filtered {
    display: none;
}
.poster-hidden {
    display: none;
}
