.ttvstats_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
.ttvstats_row > *:first-child {
    margin-right: 1em;
}
@media (max-width: 1000px) {
    .ttvstats_row {
        flex-direction: column;
    }
    .ttvstats_row > * {
        width: 100%;
    }
    .ttvstats_row > *:first-child {
        margin-right: 0;
    }
}

/*
** Categories
*/

.ttvstats_catsgraphs {
    flex: 1;
    display: flex;
    flex-direction: column-reverse; /* sorted trough order */
}
.ttvstats_catsgraphs .graph {
    display: flex;
    align-items: baseline;
    margin: .5rem 0;
}
.ttvstats_catsgraphs .graph.all .category,
.ttvstats_catsgraphs .graph.all .total {
    font-size: 1.2em;
}
    .ttvstats_catsgraphs.filtered .graph:not(.selected) {
        opacity: .5;
    }
    .ttvstats_catsgraphs .graph > * {
        white-space: nowrap;
    }
    .ttvstats_catsgraphs .category {
        min-width: 10rem;
        text-transform: capitalize;
        padding-left: 1rem;
        cursor: pointer;
    }
    .ttvstats_catsgraphs .graph.all .category {
        padding-left: 0;
    }
    .ttvstats_catsgraphs .total {
        min-width: 3rem;
        margin: 0 2rem;
    }
    .ttvstats_catsgraphs .databar {
        padding: 0 .6rem 0 .4rem;
    }
        .ttvstats_catsgraphs .databar.expanded {
            flex: 1;
            padding: 0 1rem;
        }
        .ttvstats_catsgraphs .databar.expanded .bar {
            flex: 1;
        }
            .ttvstats_catsgraphs .bar_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .ttvstats_catsgraphs .databar i {
                vertical-align: top;
                display: inline-block;
                margin-right: .25rem;
            }
            .ttvstats_catsgraphs .trakt-icon-check-thick { color: #8e44ad; }
            .ttvstats_catsgraphs .fa-heart { color: #C91D24; }
            .ttvstats_catsgraphs .trakt-icon-collection-thick { color: #16a085; }
            .ttvstats_catsgraphs .trakt-icon-list-thick { color: #2b678f; }
            .ttvstats_catsgraphs .databar i:before {
                vertical-align: middle;
            }
                .ttvstats_catsgraphs .bar {
                    display: flex;
                    height: 1.5em;
                    position: relative;
                    background: #ccc;
                    border-radius: 1em;
                }
                    .ttvstats_catsgraphs .bar_part {
                        font-size: .75em;
                        color: white;
                        background: #555;
                        padding: .25em .5em;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        cursor: pointer;
                        transition: min-width .2s ease;
                    }
                    .ttvstats_catsgraphs .bar_part.selected {
                        height: 2.2em;
                        margin-top: -.1em;
                    }
                    .ttvstats_catsgraphs .bar_part > * {
                        pointer-events: none;
                        transition: all .2s ease;
                    }
                    .ttvstats_catsgraphs .valbar {
                        border-radius: 1em 2px 2px 1em;
                    }
                    .ttvstats_catsgraphs .restbar {
                        flex: 1;
                        background: #ccc;
                        border-radius: 2px 1em 1em 2px;
                    }
                    .ttvstats_catsgraphs .graph.all .valbar { background: #8e44ad; }
                    .ttvstats_catsgraphs .graph.directing .valbar { background: #D17905; }
                    .ttvstats_catsgraphs .graph.writing .valbar { background: #16a085; }
                    .ttvstats_catsgraphs .graph.actor .valbar { background: #2b678f; } 
                        .ttvstats_catsgraphs .valbar .value {
                            margin-right: 1em;
                        }
                        .ttvstats_catsgraphs .graph:not(.selected) .value {
                            opacity: 0;
                        }
                        .ttvstats_catsgraphs:hover .graph .value {
                            opacity: 1;
                        }
                        .ttvstats_catsgraphs .percentage {
                            opacity: 0;
                        }
                            .ttvstats_catsgraphs .bar_part.selected .percentage,
                            .ttvstats_catsgraphs .bar_part:hover .percentage {
                                opacity: 1;
                            }
                            .ttvstats_catsgraphs .completed .percentage {
                                opacity: 1;
                                border-radius: 1em;
                                text-align: center;
                            }
            .ttvstats_catsgraphs .databar[data-value="100"] .restbar,
            .ttvstats_catsgraphs .databar[data-value="100"] .value {
                display: none;
            }
            .ttvstats_catsgraphs .databar[data-value="100"] .valbar {
                border-radius: 1em;
                justify-content: center;
            }
            .ttvstats_catsgraphs .databar[data-value="100"] .percentage:before {
                content: '★';
                color: gold;
                font-size: 1.5em;
                margin-right: .25em;
            }
            .ttvstats_catsgraphs .databar[data-value="0"] .valbar {
                background: #ccc;
            }
            .ttvstats_catsgraphs .databar[data-value="0"],
            .ttvstats_catsgraphs .graph[data-total="0"] {
                opacity: .5;
            }
            .ttvstats_catsgraphs .graph[data-total="0"] .bar_part {
                display: none;
            }
            .ttvstats_catsgraphs .graph[data-total="0"] i,
            .ttvstats_catsgraphs .databar[data-value="0"] i {
                color: #ccc;
            }




.ttvstats_catsgraphs .category,
.ttvstats_catsgraphs .databar.closed {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}
.ttvstats_catsgraphs .category:hover,
.ttvstats_catsgraphs .graph.selected .category,
.ttvstats_catsgraphs .databar:hover .text {
    text-decoration: underline;
}
.ttvstats_catsgraphs .graph .databar.selected:not(.expanded) {
    border-color: #ccc white white #ccc;
    box-shadow: inset 0 0 .5em 0 rgba(0,0,0,.1);
}


/*
** Ratings
*/

.ttvstats_graph_ratings {
    flex: 1;
}
.ttvstats_graph_ratings svg {
    overflow: visible !important;
}
.ttvstats_graph_ratings .ct-label{
	font-size: 0.75em;
}
.ttvstats_graph_ratings .ct-point,
.ttvstats_graph_ratings .ct-line {
    cursor: pointer;
    transform-origin: 50% 50%;
	transition: all .1s ease;
}
.ttvstats_graph_ratings .ct-series .ct-line, 
.ttvstats_graph_ratings .ct-series .ct-point {
    stroke: #d0131a;
    stroke-width: 3px;
}
.ttvstats_graph_ratings .ct-series-a .ct-line,
.ttvstats_graph_ratings .ct-series-a .ct-point {
    stroke: #ccc;
    stroke-width: 1px;
}
.ttvstats_graph_ratings .ct-line.shadow {
    stroke: #fff;
    stroke-width: 10px;
}
.ttvstats_graph_ratings .ct-point {
    opacity: 0;
}
.ttvstats_graph_ratings:hover .ct-point {
    stroke-width: 3px;
    transform: scale(4);
    opacity: 1;
}
.ttvstats_graph_ratings .ct-point:hover {
    stroke: #FF7413;
    transform: scale(5.5);
}
.ttvstats_graph_ratings .ct-series-a .ct-point:hover {
    stroke: #888;
}
.ttvstats_graph_ratings[data-user*="1-"] .ct-series-b .ct-point:nth-of-type(1),
.ttvstats_graph_ratings[data-user*="2-"] .ct-series-b .ct-point:nth-of-type(2),
.ttvstats_graph_ratings[data-user*="3-"] .ct-series-b .ct-point:nth-of-type(3),
.ttvstats_graph_ratings[data-user*="4-"] .ct-series-b .ct-point:nth-of-type(4),
.ttvstats_graph_ratings[data-user*="5-"] .ct-series-b .ct-point:nth-of-type(5),
.ttvstats_graph_ratings[data-user*="6-"] .ct-series-b .ct-point:nth-of-type(6),
.ttvstats_graph_ratings[data-user*="7-"] .ct-series-b .ct-point:nth-of-type(7),
.ttvstats_graph_ratings[data-user*="8-"] .ct-series-b .ct-point:nth-of-type(8),
.ttvstats_graph_ratings[data-user*="9-"] .ct-series-b .ct-point:nth-of-type(9),
.ttvstats_graph_ratings[data-user*="10-"] .ct-series-b .ct-point:nth-of-type(10) {
    opacity: 1;
    transform: scale(6);
    stroke: #FF7413;
}
.ttvstats_graph_ratings[data-user*="1-"] .ct-series-b .ct-point:nth-of-type(1):hover,
.ttvstats_graph_ratings[data-user*="2-"] .ct-series-b .ct-point:nth-of-type(2):hover,
.ttvstats_graph_ratings[data-user*="3-"] .ct-series-b .ct-point:nth-of-type(3):hover,
.ttvstats_graph_ratings[data-user*="4-"] .ct-series-b .ct-point:nth-of-type(4):hover,
.ttvstats_graph_ratings[data-user*="5-"] .ct-series-b .ct-point:nth-of-type(5):hover,
.ttvstats_graph_ratings[data-user*="6-"] .ct-series-b .ct-point:nth-of-type(6):hover,
.ttvstats_graph_ratings[data-user*="7-"] .ct-series-b .ct-point:nth-of-type(7):hover,
.ttvstats_graph_ratings[data-user*="8-"] .ct-series-b .ct-point:nth-of-type(8):hover,
.ttvstats_graph_ratings[data-user*="9-"] .ct-series-b .ct-point:nth-of-type(9):hover,
.ttvstats_graph_ratings[data-user*="10-"] .ct-series-b .ct-point:nth-of-type(10):hover,
.ttvstats_graph_ratings[data-user="1-2-3-4-5-6-7-8-9-10-"] .ct-series-b .ct-line:hover ~ .ct-point {
    transform: scale(5.5);
}
.ttvstats_graph_ratings[data-trakt*="1-"] .ct-series-a .ct-point:nth-of-type(1),
.ttvstats_graph_ratings[data-trakt*="2-"] .ct-series-a .ct-point:nth-of-type(2),
.ttvstats_graph_ratings[data-trakt*="3-"] .ct-series-a .ct-point:nth-of-type(3),
.ttvstats_graph_ratings[data-trakt*="4-"] .ct-series-a .ct-point:nth-of-type(4),
.ttvstats_graph_ratings[data-trakt*="5-"] .ct-series-a .ct-point:nth-of-type(5),
.ttvstats_graph_ratings[data-trakt*="6-"] .ct-series-a .ct-point:nth-of-type(6),
.ttvstats_graph_ratings[data-trakt*="7-"] .ct-series-a .ct-point:nth-of-type(7),
.ttvstats_graph_ratings[data-trakt*="8-"] .ct-series-a .ct-point:nth-of-type(8),
.ttvstats_graph_ratings[data-trakt*="9-"] .ct-series-a .ct-point:nth-of-type(9),
.ttvstats_graph_ratings[data-trakt*="10-"] .ct-series-a .ct-point:nth-of-type(10) {
    opacity: 1;
    stroke-width: 3px;
    transform: scale(6);
    stroke: #888;
}
.ttvstats_graph_ratings[data-trakt*="1-"] .ct-series-a .ct-point:nth-of-type(1):hover,
.ttvstats_graph_ratings[data-trakt*="2-"] .ct-series-a .ct-point:nth-of-type(2):hover,
.ttvstats_graph_ratings[data-trakt*="3-"] .ct-series-a .ct-point:nth-of-type(3):hover,
.ttvstats_graph_ratings[data-trakt*="4-"] .ct-series-a .ct-point:nth-of-type(4):hover,
.ttvstats_graph_ratings[data-trakt*="5-"] .ct-series-a .ct-point:nth-of-type(5):hover,
.ttvstats_graph_ratings[data-trakt*="6-"] .ct-series-a .ct-point:nth-of-type(6):hover,
.ttvstats_graph_ratings[data-trakt*="7-"] .ct-series-a .ct-point:nth-of-type(7):hover,
.ttvstats_graph_ratings[data-trakt*="8-"] .ct-series-a .ct-point:nth-of-type(8):hover,
.ttvstats_graph_ratings[data-trakt*="9-"] .ct-series-a .ct-point:nth-of-type(9):hover,
.ttvstats_graph_ratings[data-trakt*="10-"] .ct-series-a .ct-point:nth-of-type(10):hover,
.ttvstats_graph_ratings[data-trakt="1-2-3-4-5-6-7-8-9-10-"] .ct-series-a .ct-line:hover ~ .ct-point {
    transform: scale(5.5);
}


/*
** Years
*/


.ttvstats_graph_years {
    padding: .9rem 0;
    min-height: 8rem;
}
.ttvstats_graph_years .ct-bar,
.ttvstats_graph_years .ct-labels {
    cursor: pointer;
}
.ttvstats_graph_years .ct-series-a .ct-bar { stroke: #cccccc; }
.ttvstats_graph_years .ct-series-b .ct-bar { stroke: #8e44ad; }
.ttvstats_graph_years .ct-series-c .ct-bar { stroke: #C91D24; }
.ttvstats_graph_years .ct-series-d .ct-bar { stroke: #16a085; }
.ttvstats_graph_years .ct-series-e .ct-bar { stroke: #2b678f; }

.ttvstats_graph_years.is-filtered .ct-bar,
.ttvstats_graph_years.is-filtered .ct-labels {
    opacity: .5;
    transition: all .2s ease;
}
.ttvstats_graph_years.is-filtered .ct-bar.is-selected {
	stroke-width: 2em;
}
.ttvstats_graph_years.is-filtered .is-selected {
	opacity: 1 !important;
}
.ttvstats_graph_years .ct-label{
	font-size: 0.75em;
}
.ttvstats_graph_years.is-filtered .is-selected .ct-label{
	color: black;
	font-size: 0.9em;
	font-weight: bold;
}

.ttvstats_graph_years .ct-bar { stroke-width: 1.5em }

/*
** Words
*/

.ttvstats_text {
    margin: 0 2em 0 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}
.ttvstats_text .filter {
    font-style: italic;
    font-weight: bold;
}

/*
** Posters
*/

.poster-hidden,
.ttvposters.filtered ~ h2,
.ttvposters.filtered ~ .posters {
    display: none;
}

/*
** Nav
*/

.sections .ttvstats_navbutton {
    padding: 8px 0;
    border-bottom: solid 1px #cacaca;
    cursor: pointer;
    color: #959595;
}
.sections .ttvstats_navbutton:hover {
    color: black;
}
.sections .active .ttvstats_navbutton,
.sections .selected {
    color: #ed1c24;
}
.sections .active .ttvstats_navbutton + a:not(.selected),
.sections .active + .active a:not(.selected) {
    color: #959595 !important;
}
.sections .stats + li {
    padding
}