/* poster images */
.real.i18n_original {
	opacity: 0;
	transition: opacity .5s;
}
.real.i18n {
    opacity: 1;
    animation: fade .5s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

/* page titles */
.page-title .info {
    font-family: "Proxima Nova";
    color: #999;
}
.posters h3.thumb-title,
.fanarts .fanart h3.thumb-title {
	font: italic 1em "Proxima Nova";
	margin: 0;
}

/* titles & overwiew */
.i18nShowBoth .i18n,
.i18nShowBoth .additional-stats ~ * .i18n {
	font-style: italic;
}
.i18nShowBoth .additional-stats ~ * .i18n {
	display: block;
	margin-top: 1em;
}
.i18nShowReplace .i18n_original,
.i18nShowReplace .additional-stats ~ * .i18n_original {
	display: none;
}

.releasesDatesList {
	border: none;
}